.loading {
  position: relative;
  width:200px;
  height:200px;
}
.loading::before,
.loading::after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:0px;
  height:0px;
  background:#000;
  border-radius:50%;
  margin:auto;
  animation: s 1.5s linear infinite;
}
.loading::after {
  animation-delay: 0.75s;
}
@keyframes s{
  0% {
    width:0;
    height:0;
    opacity:1;
  }
  100% {
    width:100px;
    height:100px;
    opacity:0;
  }
}